.img-self{
    border-radius: 50% !important;
    height: 200px;
    width: 200px;
}
.para-per{
    font-size: 32px;
    color: whi;
}
.btn-per{
    font-size: 25px;
    
}

.con-per{
    
    background: rgba(16, 46, 196,  0.3)
    
    
}
html, body{
    height: 100%;
    width: 100%;
    
}
.main{
    background-image: url(/assets/img/bg-main4.jpg);
    background-repeat: repeat-x;
    background-size: cover;
    color: whitesmoke;
}
.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.info-per{
    color: #b5fff8;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.det-per{
    color: #f7faf8;
    font-size: 22px !important;
}

.project-btn-per{
    font-size: 32px;
    margin: 10px;
}


.projects-bgshadow{
    box-shadow: 0 0 10px gray;
    border-radius: 7px;
    background-color: #bfbfbf;
    transition: 0.3s;
}
.projects-bgshadow:hover{
    box-shadow: 0 0 15px white;
    transform: 3;

}
.details-per{
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);

    color: black;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}
.name-per{
    font-size: 45px;
    color: white;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
.socials-btn-per:hover{
    box-shadow: 0 0 15px gray;
    height: 10vh;

}
.project2-per, {
    transition: 0.4s;
}
.project2-per,:hover{
    transform: 3;
    box-shadow: 0 0 35px gray;
    border-radius: 15px;
}
.button-63 {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: inline;
    font-family: Phantomsans, sans-serif;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin: 5px;
  }
  
  .button-63:active,
  .button-63:hover {
    box-shadow: 0 0 10px lightblue;
  }
  
  @media (min-width: 768px) {
    .button-63 {
      font-size: 24px;
      min-width: 196px;
    }
  }

  .button-62 {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    margin: 5px;
  }
  
  .button-62:hover {
    box-shadow: 0 0 15px lightblue
  }

  .nav-per:hover{
    box-shadow: 0 0 0px white;

  }
  .nav-per-ext{
      background-color: rgba(0, 0, 179, 0.45);
  }
  .project-txt-per{
      font-size: 40px;
      font-family: 'Times New Roman', Times, serif;
  }